header {
  display: inline-flex;
  align-items: center;
  background-color: rgba(117, 140, 189, 0.432);
  width: 100%;
  padding: 0.85em 5%;
  justify-content: space-between;
  box-shadow: 1px 1px 10px rgba(117, 140, 189, 0.432);
  .logoName {
    display: inline-flex;
    align-items: center;
    h2 {
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
        2px 2px 0 #000; /* Contorno preto */
    }
    img {
      width: 50px;
    }
  }
  .icons {
    display: inline-flex;
    align-items: center;
    gap: 2em;
    a {
      text-decoration: none;
      color: white;
    }
    .icon {
      font-size: 2em;
    }
  }
}
